
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 3.85em;
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.98em;
}

h4 {
    font-weight: lighter;
}

.noGap{
    margin:0;
    padding:0;
}


body{
    font-family:'Overpass', sans-serif;
    margin:90px 90px; /*vertical and horiz*/
    /*margin:0 0 0 10vw;*/
}

header{
    text-align:center;
}
nav{
    font-size:1.36em;
}

nav > div{
    display: inline-flex;
}

section {
    /*display: flex;*/
    padding:30px 0;
    overflow:hidden;
    margin-right:-90px;
    margin-left:-90px;
}
    section .pic {
        float: right;
        padding-left: 20px;
        margin-right:90px;
        margin-bottom: 10px;
    }

    section .desc {
        margin-left: 90px;


    }
    section .gallery {
        float: right;
        margin-bottom: 10px;

        overflow-x: auto;
        overflow-y: hidden;
        width: 75%;
        height:100%;
        white-space: nowrap;
    }

    section .gallery img {
            white-space: nowrap;
        }

    section .galleryTwo {
        float: right;
        margin-bottom: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        height: 500px;
        width: 75%;
        white-space: nowrap;
    }

        section .galleryTwo img {
            white-space: nowrap;
        }

        /*.projText{
    padding-right:25px;
}*/

a:link, a:visited {
    background-color: white;
    font-style: oblique;
    color: #636FB6;
}

    a:link:active, a:visited:active {

        background-color: black;
    }

footer {
    display: flex;
    justify-content: center;
}
footer div{
    display:inline-flex;
    margin:0 100px;
}
footer a{
    padding:50px;
}