
h1, h2{
    font-family: 'Nunito', sans-serif;
}
.noGap{
    margin:0;
    padding:0;
}
h4 {
    font-weight: lighter;
}

body{
    font-family:'Overpass', sans-serif;
    margin:10vh 10vw;
    /*margin:0 0 0 10vw;*/
}

header{
    text-align:center;
}

nav > div{
    display: inline-flex;
}

section {
    /*display: flex;*/
    padding:30px 0;
    overflow:hidden;
}

section img{
    float:right;
    padding-left:20px;
    margin-bottom:10px;
}

/*.projText{
    padding-right:25px;
}*/
footer {
    display: flex;
    justify-content: center;
}
footer div{
    display:inline-flex;
    margin:0 100px;
}
footer a{
    padding:50px;
}